body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /*background-color: powderblue;*/
}

.background {
    display: block;
    position: relative;
}

.background::after {
    content: "";
    background-image: url("../images/piano.jpg");
    background-repeat: repeat-y;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
} 

h1 {
    /*background-color: powderblue;*/
    font-size: 30px;
}

p {
    font-size: 15px;
}